/** define Form; use strict */

.Form {
  display: block;
  width: 100%;
}

.Form label {
  display: block;
  font-size: 0.9em;
}

.Form label + label {
  margin-top: 1rem;
}

.Form input,
.Form textarea,
.Form select {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
  background-color: var(--subtle);
  border-radius: 6px;
  border: 1px solid transparent;
  border-bottom-color: var(--text-color);
  font: inherit;
  color: var(--text-color);
  padding: 0.25rem 0.5rem;
}

.Form textarea {
  min-height: 7em;
  resize: vertical;
}
