@import "suitcss-base";
@import "./components";
@import "./utilities";
@import "./app";

:root {
  /* main font family */
  --font: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --background-color: #fcfcfd;
  /* main text color */
  --text-color: #222;
  /* muted text color */
  --muted-text: #6b7280; /*#757575;*/
  /* headings color */
  --heading-color: #222;
  /* accent color, also used for links */
  --accent: #000;
  /* dark accent color, used for hover, focus etc states */
  --dark-accent: #000;
  /* subtle color */
  --subtle: #f3f3f3; /*#f5f5f5;*/
  /* large screens breakpoint */
  --screen-large-size: 678px;
}

.dark {
  --background-color: #21272d;
  /* main text color */
  --text-color: #dfdedd;
  /* muted text color */
  --muted-text: #d7cdcd;
  /* headings color */
  --heading-color: #efefee;
  /* accent color, also used for links */
  --accent: #f5f5f5;
  /* dark accent color, used for hover, focus etc states */
  --dark-accent: #fff;
  /* subtle color */
  --subtle: #f1f2f3;
}

@media (prefers-color-scheme: dark) {
  html body {
    --background-color: #21272d;
    /* main text color */
    --text-color: #dfdedd;
    /* muted text color */
    --muted-text: #d7cdcd;
    /* headings color */
    --heading-color: #efefee;
    /* accent color, also used for links */
    --accent: #f5f5f5;
    /* dark accent color, used for hover, focus etc states */
    --dark-accent: #fff;
    /* subtle color */
    --subtle: #393f45;
  }
}

@custom-media --screen-large screen and (min-width: 700px);
